.wrapper {
  text-align: center;
 margin: 0 auto;
 max-width: 100rem;
 padding: 1.8rem;
 background-color: #3b5998;
}
 .wrapper2{
   text-align: center;
   margin: 0 auto;
   max-width: 100rem;
   padding: .8rem;
   background-color: #3b5998;
 }
